// Place all the styles related to the tasktops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	text-align:center;
}

#container {
	width:96%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
#left_g{
	width:50%;
	float:left;
}

#right_g {
	margin-top:100px;
	width:50%;
	float:right;
}
#new {
	width:100%;
	clear:both;
}
